<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!--========== CSS ==========-->
    <link rel="stylesheet" href="/css/admin-info.css">
    <!-- js -->
    <script src="/js/account.js"></script>

    <title>Dark Code - Quản lý</title>
    <!-- icon thanh địa chỉ -->
    <link rel="shortcut icon" href="/images/detulaptrinh-icon.ico">
</head>

<body ng-app="account" ng-controller="account-ctrl">
    <!--========== HEADER ==========-->
    <header class="header">
        <div class="header__container">
            <a href="#" class="header__logo">[[${user.fullname}]]</a>
        </div>
    </header>

    <!--========== NAV ==========-->
    <div class="nav" id="navbar">
        <nav class="nav__container">
            <div>
                <a href="/shop" class="nav__link nav__logo">
                    <i class='bx bxs-disc nav__icon'></i>
                    <span class="nav__logo-name">D.Shop</span>
                </a>

                <div class="nav__list">
                    <div class="nav__items">
                        <h3 class="nav__subtitle">Quản lý</h3>

                        <a href="/admin" class="nav__link">
                            <i class='bx bx-home nav__icon'></i>
                            <span class="nav__name">Trang chính</span>
                        </a>

                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                                <i class='bx bx-list-ul nav__icon'></i>
                                <span class="nav__name">Sản phẩm</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a href="/admin/category" class="nav__dropdown-item">Loại sản phẩm</a>
                                    <a href="/admin/product" class="nav__dropdown-item">Sản phẩm</a>
                                </div>
                            </div>
                        </div>

                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                                <i class='bx bxs-cart-alt nav__icon'></i>
                                <span class="nav__name">Đơn hàng</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a href="/admin/order-check" class="nav__dropdown-item">Đang giao</a>
                                    <a href="/admin/order-success" class="nav__dropdown-item">Đã giao</a>
                                </div>
                            </div>
                        </div>

                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                                <i class='bx bxs-bar-chart-alt-2 nav__icon'></i>
                                <span class="nav__name">Thống kê</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a href="/admin/statistics-revenue" class="nav__dropdown-item">Doanh thu</a>
                                    <a href="/admin/statistics-order" class="nav__dropdown-item">Đơn hàng</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="nav__items">
                        <h3 class="nav__subtitle">Hồ sơ</h3>

                        <a href="/admin/info" class="nav__link active">
                            <i class='bx bxs-info-circle nav__icon'></i>
                            <span class="nav__name">Thông tin</span>
                        </a>
                        <a href="/admin/password" class="nav__link">
                            <i class='bx bxs-edit-alt nav__icon'></i>
                            <span class="nav__name">Chỉnh sửa</span>
                        </a>
                    </div>
                </div>
            </div>

            <a href="/security/logoff" class="nav__link nav__logout">
                <i class='bx bx-log-out nav__icon'></i>
                <span class="nav__name">Log Out</span>
            </a>
        </nav>
    </div>

    <!--========== CONTENTS ==========-->
    <main>
        <div class="row">
            <!-- left info admin -->
            <div class="left col-5">
                <div class="info">
                    <h2 class="title">Thông tin cá nhân</h2>
                    <form>
                        <div class="form-group">
                            <label>Username</label>
                            <input ng-model="account.username" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input ng-model="account.email" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label>Fullname</label>
                            <input ng-model="account.fullname" class="form-control">
                        </div>
                        <button ng-click="update()" class="btn btn-primary">Cập nhật</button>
                    </form>
                </div>
            </div>
            <!-- end left info admin -->

            <!-- right list user -->
            <div class="right col-7">
                <div class="box-cout">
                    <h4>Số lượng: [[${countAll}]]</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Fullname</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in listUser">
                                <th scope="row">{{item.username}}</th>
                                <td>{{item.fullname}}</td>
                                <td>{{item.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end right list user -->
        </div>
    </main>

    <!--========== MAIN JS ==========-->
    <script>
        /*==================== SHOW NAVBAR ====================*/
        const showMenu = (headerToggle, navbarId) => {
            const toggleBtn = document.getElementById(headerToggle),
                nav = document.getElementById(navbarId)

            // Validate that variables exist
            if (headerToggle && navbarId) {
                toggleBtn.addEventListener('click', () => {
                    // We add the show-menu class to the div tag with the nav__menu class
                    nav.classList.toggle('show-menu')
                    // change icon
                    toggleBtn.classList.toggle('bx-x')
                })
            }
        }
        showMenu('header-toggle', 'navbar')

        /*==================== LINK ACTIVE ====================*/
        const linkColor = document.querySelectorAll('.nav__link')

        function colorLink() {
            linkColor.forEach(l => l.classList.remove('active'))
            this.classList.add('active')
        }

        linkColor.forEach(l => l.addEventListener('click', colorLink))
    </script>
</body>

</html>